# Laravel API
/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log

# Vue Frontend
/VUE/node_modules
/VUE/dist
/VUE/.env
/VUE/.env.local
/VUE/.env.*.local
/VUE/npm-debug.log*
/VUE/yarn-debug.log*
/VUE/yarn-error.log*
/VUE/pnpm-debug.log*

# IDE
/.fleet
/.idea
/.vscode

# OS
.DS_Store
Thumbs.db